table{
    width: 100%;
    margin: auto;
}

tr{
    :nth-child(even){background-color: #CCC;}
    :nth-child(odd){background-color: #FFF;}
    padding: 5px;
}
td ,th {
    padding: 5px;
    text-align: center;
}