$font-family:Arial, Helvetica, sans-serif;
$color:black;

h1{
    text-transform: uppercase;
    font-family: $font-family;
    font-size: 20px;
    color: $color;
}

h2{
    font-family: $font-family;
    font-size: 18px;
    color: $color;
}

.text-center{
    text-align: center;
}

.text-danger{
    color: #dc3545;
}

.text-warning{
    color: #ffc107;
}

.text-success{
    color: #28a745;
}

.text-primary{
    color:#007bff;
}

.text-dark{
    color: #343a40;
}

.text-secondary{
    color: #6c757d;
}

.text-light{
    color: #f8f9fa;
}