
$font-family:Arial, Helvetica, sans-serif;

h1{
    text-transform: uppercase;
    font-family: $font-family;
    font-size: 20em;
    color: black;
}

h2{
    font-family: $font-family;
    font-size: 20px;
    color: black;
}