$font-family:Arial, Helvetica, sans-serif;
$color-black:black;
$color-white:white;

/*
    ----------------
        Font-Sizes
    ----------------
*/

.h1{
    font-family: $font-family;
    font-size: 40px;
}
.h2{
    font-family: $font-family;
    font-size: 30px;
}
.h3{
    font-family: $font-family;
    font-size: 20px;
}

h2{
    font-family: $font-family;
    font-size: 18px;
}

.text-center{
    text-align: center;
}

.text-danger{
    color: #dc3545;
}

.text-warning{
    color: #ffc107;
}

.text-success{
    color: #28a745;
}

.text-primary{
    color:#007bff;
}

.text-dark{
    color: #343a40;
}

.text-secondary{
    color: #6c757d;
}

.text-light{
    color: #f8f9fa;
}


/*
    ------------------
        Alignment
    ------------------
*/

.left{
    text-align:left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}


/*
    -------------------
        Font Styles
    -------------------
*/
.italic{
font-style: italic;
}

.bold{
    font-weight: bold;
}
.lighter{
    font-weight: lighter;
}
.bolder{
    font-weight: bolder;
}
.normal{
    font-weight: normal;
}
.line-height-normal{
    line-height: normal;
}
.line-height-recommended{
    line-height: 1.6;
}
.circular-list{
    list-style-type: circle;
}
.square-list{
    list-style-type: square;
}
.upper-roman{
    list-style-type: upper-roman;
}
.lower-roman{
    list-style-type: lower-roman;
}
.upper-alpha{
    list-style-type: upper-alpha;
}

.lower-alpha{
    list-style-type: lower-alpha;
}
